body{
    text-align: center;
    margin-top: 230px;
    background-color: #277BC0;
    color: #BF9742;
}

.citybox{
    margin-top: 20px;
    margin-left: 10px;
    height: 40px;
    width: 350px;
    border-radius: 5px;
    padding-left: 10px;
    border-width: 0 3px 5px 0;
}